body{
    overflow-x: hidden;
}
.message{
    background-color: white !important;
    color:  black!important;
    text-align: center!important;
    width: 10rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}