/* box outline color : #3A3A3C */
/* keyboard keys color : #818384 */
/* body color : #121213 */

body {
  overflow-x: hidden;
}
.message {
  background-color: white !important;
  color: black !important;
  text-align: center !important;
  width: 10rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 3px;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #121213;
  color: white;
  width: 50vh;
  max-height: 78vh;
  align-items: center;
  align-self: center;
  text-align: center;
  place-self: center;
  margin: auto;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
}

.modalHeader {
  display: flex;
  flex-direction: column;
}

.modalBtn {
  background: transparent;
  color: white;
  padding: 2vh;
  border: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.headerText {
  margin-top: 6vh;
  letter-spacing: 1px;
}
.modal_stats {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.stat {
  margin: 0.8vh;
  font-size: 5vh;
}
.top {
  margin: auto;
}
.bottom {
  font-size: small;
}
.graphHeader {
  margin: 3vh 0vh 3vh 0vh;
  text-align: center;
}
.graph {
  display: grid;
}
@media screen and (min-width: 500px) {
  .Modal {
    width: 77vh;
  }
}
@media screen and (max-width: 400px) {
  .Modal {
    width: 50vh;
    max-height: 80vh;
  }
}
