@keyframes bounce{
    0%{
      transform: scale(1);
      background: rgba(0, 0, 0, 0);
    }
    50%{
      transform: scale(0.8);
      background: rgba(230, 230, 230, 0.2);
    }

    100%{
      transform: scale(1);
      background: rgba(0, 0, 0, 0);
    }
  }
.bounce {
  animation: bounce 300ms forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
