.info-modal {
  position: absolute;
  top: 0;
  /* left: 40px;
  right: 40px; */
  background-color: #121213;
  color: white;
  /* width: 50vh; */
  align-items: center;
  align-self: center;
  text-align: center;
  place-self: center;
  margin: auto;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  z-index: 5;
  overflow: auto;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
  overflow: auto;
}

.modalHeader {
  display: flex;
  flex-direction: column;
}

.modalBtn {
  font-size:2rem;
}
.modalBody{
  text-align: left;
}
.modalBody .section{
  margin:0 2rem 1rem 4rem;
  padding-bottom:1rem;
  border-bottom: 1px solid rgba(170, 170, 170, 0.377);
}
.modalBody .section p {
  margin-bottom:2rem;
}
.modalBody .for-info{
  height:4rem;
}

@media screen and (max-width: 600px) {

  .info-modal {
    top: 3rem;
  }
}