* {
  margin: 0;
  padding: 0;
}

/* box outline color : #3A3A3C */
/* keyboard keys color : #818384 */
/* body color : #121213 */

body {
  background-color: #121213;
  position: absolute;
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}
/* .t{
  width: 400px;
  height: 400px;
  background-color: aquamarine;
} */
.header {
  background-color: #121213;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 0.5px solid #3a3a3c;
  align-content: center;
  display: grid;
}
.header h3 {
<<<<<<< HEAD
  flex: 3;
  /* border: solid red; */
=======
>>>>>>> bdf4b7b2ae4e63e4aa8a8db598034805465820db
  font-size: 2rem;
  margin: 1rem;
}
<<<<<<< HEAD

.header .col-amount {
  /* border: solid brown; */
  width: 9rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  /* height: 2rem; */
  /* padding: 1rem; */
  /* border: solid white; */
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 1rem;
  cursor: pointer;
  justify-content: flex-end;
  /* background-color: red; */
}
=======
.header .col-amount {
  width: 6rem;
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(221, 221, 221, 0.315);
  /* background-color: red; */
}
.header .right-header {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  /* background:red; */
  width: 8.5rem;
}
.header .left-header {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  width: 2rem;
}
.header .bth {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.25rem;
  padding-top: 0;
  cursor: pointer;
}
.header .bth:hover {
  background: rgba(255, 255, 255, 0.295);
}
.header .right-header .stats {
  position: absolute;
  top: 0rem;
  right: 0;
}
>>>>>>> bdf4b7b2ae4e63e4aa8a8db598034805465820db
.header .col-amount .col-box {
  flex: 1;
  display: inline-block;
  background: rgba(68, 68, 68, 0.26);
<<<<<<< HEAD
  border: transparent;
  padding: 0.5rem;
  /* border: solid white; */
  /* justify-content: space-around; */
}
.header .col-amount .col-box.selected {
  animation: fadeIn 2s;
  /* opacity: 1; */
  /* background: rgb(114, 29, 29); */
  background-color: gray;
}
.header .col-amount .col-box span {
  position: relative;
  top: 0.4rem;
  width: 0.15rem;
  height: 0.05rem;
  background: rgb(192, 192, 192);
  margin: 2px;
  padding: 0.17rem;
}
.header .col-amount .col-box:first-child {
  border-right: 1px solid gray;
}
@keyframes fadeIn {
  from {
    /* opacity: 0; */
    background-color: #3a3a3c;
  }
  to {
    /* opacity: 1; */
    background-color: gray;
  }
=======
}
.header .col-amount .col-box.selected {
  background: rgb(97, 97, 97);
}
.header .col-amount .col-box:first-child {
  border-right: 1px solid gray;
}
@keyframes fd {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-body.fade {
  opacity: 0;
  animation: fd 1s ease-out forwards;
>>>>>>> bdf4b7b2ae4e63e4aa8a8db598034805465820db
}
