* {
  margin: 0;
  padding: 0;
}

/* box outline color : #3A3A3C */
/* keyboard keys color : #818384 */
/* body color : #121213 */

body {
  background-color: #121213;
  display: flex;
  flex-direction: column;
}
.t{
  width: 500px;
  height: 500px;
  background-color: aquamarine;
}
.header {
  background-color: #121213;
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 0.5px solid #3A3A3C;
  
}