* {
  margin: 0;
  padding: 0;
}

/* box outline color : #3A3A3C */
/* keyboard keys color : #818384 */
/* body color : #121213 */

body {
  background-color: #121213;
  position: absolute;
  width:100%;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}
/* .t{
  width: 400px;
  height: 400px;
  background-color: aquamarine;
} */
.header {
  background-color: #121213;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 0.5px solid #3A3A3C;
  
}