.keyboard{
    position: relative;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row; 
    margin: 5px;
}
.keyboard .actions{
    position:absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width:30rem;
    margin:auto;
    background: blue;
    z-index:1;
}
.keyboard .actions div{
    display: inline-block;
}
.keyboard .actions div.e{
    position: absolute;
    left:0;
}
.keyboard .actions div.b{
    position: absolute;
    right:0;
}
.keyboard.leave-space{
    top:-0.5rem;
    height: 3rem;
    margin-bottom: -0.5rem;
}
.first_row, .second_row, .third_row{
    
}
.keys{
    color: white;
    border-radius: 5px;
    background-color: #818384;
    padding: 0.3rem 0.6rem;
    margin: 5px;
    cursor: pointer;
}
.keys:hover{
    background-color: #585858;
}
@media screen and (max-width:500px){
.keyboard{
    width:30rem;
}
}