.keyboards {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0.5rem;
  width: 50%;
}
.keyboard {
  position: relative;
  left: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin: 5px;
}
.keys {
  position: relative;
  color: rgb(255, 255, 255);
  border-radius: 0px;
  border-style: none;
  background-color: #747677;
  padding: 2.5% 4%;
  margin: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  border-radius: 3px;
}
.keys span {
  position: absolute;
  right: 0.15rem;
  top: 0.15rem;
  width: 0.4rem;
  height: 0.4rem;
  z-index: 1;
  margin-left: 0.2rem;
  border-radius: 50%;
}
@media screen and (min-width: 500px) {
  .keyboards {
    width: 20rem;
    bottom: 5%;
  }
}
@media screen and (max-width: 400px) {
  .keyboards {
    bottom: 15%;
  }
  .keys {
    padding: 0.25rem 0.35rem;
  }
}
@media screen and (max-width: 360px) {
  .keyboards {
    width: 35%;
  }
}
@media screen and (max-width: 310px) {
  .keyboards {
    width: 30%;
  }
  .keys {
    padding: 0.25rem 0.2rem;
    margin: 4px;
  }
}
@media screen and (max-width: 260px) {
  .keyboards {
    transform: translateX(-35%);
  }
}
@media screen and (max-width: 230px) {
  .keyboards {
    transform: translateX(-20%);
  }
}
@media screen and (max-width: 200px) {
  .keyboards {
    transform: translateX(0%);
  }
}
.keyboard.leave-space {
  top: -0.5rem;
  height: 3rem;
  margin-bottom: -0.5rem;
}

.keys:hover {
  background-color: #585858;
}
.keyboard button.a {
  height: 2rem !important;
  background: #393e3f;
}
.keyboard button.a img {
  margin-top: -0.1rem;
}
/* @media screen and (max-width:500px){
.keyboard{
    max-width:100%;
}
} */
.keyboards .keys.correct {
  background: #538d4e;
}
.keyboards .keys.correctWrongPlace {
  background: #b59f3b;
}
.keyboards .keys.correctFamily {
  background: #5c87af;
}
.keyboards .keys.correctFamilyWrongPlace {
  background: #5a4e70;
}
.keyboards .keys.incorrect {
  background: #3a3a3c;
}
.keys span {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.keys span.i4 {
  background: #538d4e;
}
.keys span.i3 {
  background: #b59f3b;
}
.keys span.i2 {
  background: #5c87af;
}
.keys span.i1 {
  background: #5a4e70;
}
.keys span.i0 {
  background: #3a3a3c;
}
