/* box outline color : #3A3A3C */
/* keyboard keys color : #818384 */
/* body color : #121213 */

.grid_wrapper {
    display: grid;
    place-items: center;
    margin: 0.25rem;
}

.grid_row {
    /* background-color: aqua; */
    display: flex;
    font-size: 2rem;
}

.row_items{
    color: white;
    font-weight: 700;
    border: 3px solid #3A3A3C;
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}