.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #121213;
  color: white;
  width: 50vh;
  max-height: 78vh;
  align-items: center;
  align-self: center;
  text-align: center;
  place-self: center;
  margin: auto;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  z-index: 5;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
}

.modalHeader {
  display: flex;
  flex-direction: column;
}

.modalBtn {
  background: transparent;
  color: white;
  padding: 2vh;
  border: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.headerText {
  margin-top: 6vh;
  letter-spacing: 1px;
}
.modal_stats {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.stat {
  margin: 0.8vh;
  font-size: 5vh;
}
.top {
  margin: auto;
}
.bottom {
  font-size: small;
}
.graphHeader {
  margin: 3vh 0vh 3vh 0vh;
  text-align: center;
}
.graph {
  display: grid;
}
.bottom-area {
  margin-top:1rem;
  display: flex;
  flex-direction: row;
}
.time {
  border-right: 1px solid #aaa;
  flex: 1;
  align-content: center;
  text-align: center;
}
.share-con {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.share-con .share-btn {
  margin: auto;
  background: #538d4e;
  border: 1px solid #538d4e;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem 1.75rem;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .Modal {
    width: 77vh;
  }
}
@media screen and (max-width: 400px) {
  .Modal {
    width: 50vh;
    max-height: 80vh;
  }
}
@media screen and (max-width: 600px) {
  .Modal {
    width: 90%;
    left: 5%;
  }
  .graph {
    left: 0;
  }
}
